//imports
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono");

//variables
$gray-900: #212529;
$gray-700: #495057;
$gray-400: #ced4da;
$gray-300: #dee2e6;
$gray-100: #eee;
$green: #28a745;
$red: #dc3545;

//mixins
@mixin head-foot {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
}
@mixin easeOut {
  transition: 0.4s ease-out;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $gray-900;
}

h1,
h2,
h4 {
  font-weight: 400;
}

main {
  min-height: 100vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;

  header {
    @include head-foot;
    color: $gray-300;
    background: $gray-900;
    border: 0;
  }
  footer {
    @include head-foot;
    background: $gray-300;
  }
}

.search-form {
  margin: 1.5rem 0;
  padding: 2rem;
  width: 100%;
  background: $gray-400;
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-field {
    margin: 0.8rem 0;
    width: 85%;
    h4 {
      font-size: 1.2rem;
      text-align: center;
      margin: 0.5rem;
    }

    .input-bar {
      display: block;
      width: 100%;
      font-family: "Roboto Mono", monospace;
      font-size: 1.2rem;
      padding: 0 1rem;
      color: $gray-700;
      outline-color: $green;
    }
  }
}

button.btn {
  border: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
  border-radius: 3px;
}
button.btn-lg {
  padding: 10px 20px;
  font-size: 1.5rem;
}
button.btn-sm {
  padding: 5px 10px;
  margin: 5px;
  font-size: 1rem;
}
button.green {
  background: $green;
  &:hover {
    @include easeOut;
    background-color: #fff;
    color: $green;
    border: 1px solid $green;
  }
}
button.red {
  background: $red;
  &:hover {
    @include easeOut;
    background-color: #fff;
    color: $red;
    border: 1px solid $red;
  }
}

.bookmark {
  background: $gray-100;
  width: 95%;
  margin: 10px auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  h2 {
    flex: 1 0 auto;
  }
  .btn-box {
    flex: 0 1 auto;
  }
}
